       

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/override.js"></script>
    </body>
    <footer class="py-5 w3-black" style="height: 35px; text-align: center; bottom: auto;" >
        <p class="m-0 text-center text-white" style="position:relative; bottom: 16px;">Copyright &copy; Finance Database 2020 <img src="/media/logo/logo.jpg" alt="" width="150" style="position:relative; left:450px; bottom:10px;"></p>
        


    </footer>       
</html>