    <%- include ('../partials/header.ejs') %>
    <div class="w3-container">
      <h5>Finance Database</h5>
      <!-- Colorfull Currencies -->      
      <div class="w3-row-padding w3-margin-bottom">

        <div class="w3-quarter">
          <div class="w3-container w3-padding-16" style="color: aliceblue; background:#3e4444">        
            <div class="w3-left"><i class="fa fa-usd w3-xxxlarge"></i></div>
            <div class="w3-right">
              <h3 style='font-size:30px'></h3>
            </div>
            <div class="w3-clear"></div>
            <h4>USD</h4>
          </div>
        </div>


        <div class="w3-quarter">
          <div class="w3-container w3-padding-16" style="background-color: #DCA62A;">
            <div class="w3-left"><i class="fa fa-eur w3-xxxlarge"></i></div>
            <div class="w3-right">
              <h3 style='font-size:30px'></h3>
            </div>
            <div class="w3-clear"></div>
            <h4>EUR</h4>
          </div>
        </div>

        <div class="w3-quarter">
          <div class="w3-container w3-dark-grey w3-padding-16 shadow">
            <div class="w3-left"><i class="fas fa-pound-sign fa fa-ruble w3-xxxlarge"></i></div>
            <div class="w3-right">
              <h3 style='font-size:30px'></h3>
            </div>
            <div class="w3-clear"></div>
            <h4>GBP</h4>
          </div>
        </div>

        <div class="w3-quarter">
          <div class="w3-container w3-brown w3-text-white w3-padding-16 shadow">
            <div class="w3-left"><i class="fa fa-ruble w3-xxxlarge"></i></div>
            <div class="w3-right">
              <h3 style='font-size:30px'></h3>
            </div>
            <div class="w3-clear"></div>
            <h4>RUB</h4>
          </div>
        </div>
      </div>
      

      <!-- Colorfull Currencies End --> 


      <div class="w3-panel">
        <div class="w3-row-padding shadow" style="margin:0 -16px">
          <div class="w3-half w3-container">

            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
              <tr>
                <td>(USD) Amerikan Doları </td>
                <td>{{doviz.USDALIS}}</td>
                <td>{{doviz.USDSATIS}}</td>
                <td>{{doviz.USDYUKSEK}}</td>
                <td>{{doviz.USDDUSUK}}</td>
              </tr>
              <tr>
                <td>(EUR) EURO </td>
                <td>{{doviz.EURALIS}}</td>
                <td>{{doviz.EURSATIS}}</td>
                <td>{{doviz.EURYUKSEK}}</td>
                <td>{{doviz.EURDUSUK}}</td>
              </tr>
              <tr>
                <td>(GBP) Britanya Poundu</td>
                <td>{{doviz.GBPALIS}}</td>
                <td>{{doviz.GBPSATIS}}</td>
                <td>{{doviz.GBPYUKSEK}}</td>
                <td>{{doviz.GBPDUSUK}}</td>
              </tr>
              <tr>
                <td>(SEK) Isveç Kronu</td>
                <td>{{doviz.SEKALIS}}</td>
                <td>{{doviz.SEKSATIS}}</td>
                <td>{{doviz.SEKYUKSEK}}</td>
                <td>{{doviz.SEKDUSUK}}</td>
              </tr>
              <tr>
                <td>(NOK) Norveç Kronu</td>
                <td>{{doviz.NOKALIS}}</td>
                <td>{{doviz.NOKSATIS}}</td>
                <td>{{doviz.NOKYUKSEK}}</td>
                <td>{{doviz.NOKDUSUK}}</td>
              </tr>
              <tr>
                <td>(RUB) Rus Rublesi</td>
                <td>{{doviz.RUBALIS}}</td>
                <td>{{doviz.RUBSATIS}}</td>
                <td>{{doviz.RUBYUKSEK}}</td>
                <td>{{doviz.RUBDUSUK}}</td>
              </tr>
            </table><br>
            <button class="w3-button w3-dark-grey" style="margin-bottom: 20px;">Diğer Kurlar  <i class="fa fa-arrow-right"></i></button>
          </div>
          <div class="w3-half w3-container">

            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
              <tr>
                <td>(USD) Amerikan Doları </td>
                <td>{{doviz.USDALIS}}</td>
                <td>{{doviz.USDSATIS}}</td>
                <td>{{doviz.USDYUKSEK}}</td>
                <td>{{doviz.USDDUSUK}}</td>
              </tr>
              <tr>
                <td>(EUR) EURO </td>
                <td>{{doviz.EURALIS}}</td>
                <td>{{doviz.EURSATIS}}</td>
                <td>{{doviz.EURYUKSEK}}</td>
                <td>{{doviz.EURDUSUK}}</td>
              </tr>
              <tr>
                <td>(GBP) Britanya Poundu</td>
                <td>{{doviz.GBPALIS}}</td>
                <td>{{doviz.GBPSATIS}}</td>
                <td>{{doviz.GBPYUKSEK}}</td>
                <td>{{doviz.GBPDUSUK}}</td>
              </tr>
              <tr>
                <td>(SEK) Isveç Kronu</td>
                <td>{{doviz.SEKALIS}}</td>
                <td>{{doviz.SEKSATIS}}</td>
                <td>{{doviz.SEKYUKSEK}}</td>
                <td>{{doviz.SEKDUSUK}}</td>
              </tr>
              <tr>
                <td>(NOK) Norveç Kronu</td>
                <td>{{doviz.NOKALIS}}</td>
                <td>{{doviz.NOKSATIS}}</td>
                <td>{{doviz.NOKYUKSEK}}</td>
                <td>{{doviz.NOKDUSUK}}</td>
              </tr>
              <tr>
                <td>(RUB) Rus Rublesi</td>
                <td>{{doviz.RUBALIS}}</td>
                <td>{{doviz.RUBSATIS}}</td>
                <td>{{doviz.RUBYUKSEK}}</td>
                <td>{{doviz.RUBDUSUK}}</td>
              </tr>
            </table><br>
            <button class="w3-button w3-dark-grey" style="margin-bottom: 20px;">Diğer Kurlar  <i class="fa fa-arrow-right"></i></button>
          </div>
        </div>
      </div>

          <hr>
      <div class="w3-panel">
        <div class="w3-row-padding shadow" style="margin:0 -16px">
          <div class="w3-half w3-container">

            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
              <tr>
                <td>(USD) Amerikan Doları </td>
                <td>{{doviz.USDALIS}}</td>
                <td>{{doviz.USDSATIS}}</td>
                <td>{{doviz.USDYUKSEK}}</td>
                <td>{{doviz.USDDUSUK}}</td>
              </tr>
              <tr>
                <td>(EUR) EURO </td>
                <td>{{doviz.EURALIS}}</td>
                <td>{{doviz.EURSATIS}}</td>
                <td>{{doviz.EURYUKSEK}}</td>
                <td>{{doviz.EURDUSUK}}</td>
              </tr>
              <tr>
                <td>(GBP) Britanya Poundu</td>
                <td>{{doviz.GBPALIS}}</td>
                <td>{{doviz.GBPSATIS}}</td>
                <td>{{doviz.GBPYUKSEK}}</td>
                <td>{{doviz.GBPDUSUK}}</td>
              </tr>
              <tr>
                <td>(SEK) Isveç Kronu</td>
                <td>{{doviz.SEKALIS}}</td>
                <td>{{doviz.SEKSATIS}}</td>
                <td>{{doviz.SEKYUKSEK}}</td>
                <td>{{doviz.SEKDUSUK}}</td>
              </tr>
              <tr>
                <td>(NOK) Norveç Kronu</td>
                <td>{{doviz.NOKALIS}}</td>
                <td>{{doviz.NOKSATIS}}</td>
                <td>{{doviz.NOKYUKSEK}}</td>
                <td>{{doviz.NOKDUSUK}}</td>
              </tr>
              <tr>
                <td>(RUB) Rus Rublesi</td>
                <td>{{doviz.RUBALIS}}</td>
                <td>{{doviz.RUBSATIS}}</td>
                <td>{{doviz.RUBYUKSEK}}</td>
                <td>{{doviz.RUBDUSUK}}</td>
              </tr>
            </table><br>
            <button class="w3-button w3-dark-grey" style="margin-bottom: 20px;">Diğer Kurlar  <i class="fa fa-arrow-right"></i></button>
          </div>
          <div class="w3-half w3-container">

            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
              <tr>
                <td>(USD) Amerikan Doları </td>
                <td>{{doviz.USDALIS}}</td>
                <td>{{doviz.USDSATIS}}</td>
                <td>{{doviz.USDYUKSEK}}</td>
                <td>{{doviz.USDDUSUK}}</td>
              </tr>
              <tr>
                <td>(EUR) EURO </td>
                <td>{{doviz.EURALIS}}</td>
                <td>{{doviz.EURSATIS}}</td>
                <td>{{doviz.EURYUKSEK}}</td>
                <td>{{doviz.EURDUSUK}}</td>
              </tr>
              <tr>
                <td>(GBP) Britanya Poundu</td>
                <td>{{doviz.GBPALIS}}</td>
                <td>{{doviz.GBPSATIS}}</td>
                <td>{{doviz.GBPYUKSEK}}</td>
                <td>{{doviz.GBPDUSUK}}</td>
              </tr>
              <tr>
                <td>(SEK) Isveç Kronu</td>
                <td>{{doviz.SEKALIS}}</td>
                <td>{{doviz.SEKSATIS}}</td>
                <td>{{doviz.SEKYUKSEK}}</td>
                <td>{{doviz.SEKDUSUK}}</td>
              </tr>
              <tr>
                <td>(NOK) Norveç Kronu</td>
                <td>{{doviz.NOKALIS}}</td>
                <td>{{doviz.NOKSATIS}}</td>
                <td>{{doviz.NOKYUKSEK}}</td>
                <td>{{doviz.NOKDUSUK}}</td>
              </tr>
              <tr>
                <td>(RUB) Rus Rublesi</td>
                <td>{{doviz.RUBALIS}}</td>
                <td>{{doviz.RUBSATIS}}</td>
                <td>{{doviz.RUBYUKSEK}}</td>
                <td>{{doviz.RUBDUSUK}}</td>
              </tr>
            </table><br>
            <button class="w3-button w3-dark-grey" style="margin-bottom: 20px;">Diğer Kurlar  <i class="fa fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
      <hr>
      <div class="w3-panel">
        <div class="w3-row-padding shadow" style="margin:0 -16px">
          <div class="w3-half w3-container">

            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
              <tr>
                <td>(USD) Amerikan Doları </td>
                <td>{{doviz.USDALIS}}</td>
                <td>{{doviz.USDSATIS}}</td>
                <td>{{doviz.USDYUKSEK}}</td>
                <td>{{doviz.USDDUSUK}}</td>
              </tr>
              <tr>
                <td>(EUR) EURO </td>
                <td>{{doviz.EURALIS}}</td>
                <td>{{doviz.EURSATIS}}</td>
                <td>{{doviz.EURYUKSEK}}</td>
                <td>{{doviz.EURDUSUK}}</td>
              </tr>
              <tr>
                <td>(GBP) Britanya Poundu</td>
                <td>{{doviz.GBPALIS}}</td>
                <td>{{doviz.GBPSATIS}}</td>
                <td>{{doviz.GBPYUKSEK}}</td>
                <td>{{doviz.GBPDUSUK}}</td>
              </tr>
              <tr>
                <td>(SEK) Isveç Kronu</td>
                <td>{{doviz.SEKALIS}}</td>
                <td>{{doviz.SEKSATIS}}</td>
                <td>{{doviz.SEKYUKSEK}}</td>
                <td>{{doviz.SEKDUSUK}}</td>
              </tr>
              <tr>
                <td>(NOK) Norveç Kronu</td>
                <td>{{doviz.NOKALIS}}</td>
                <td>{{doviz.NOKSATIS}}</td>
                <td>{{doviz.NOKYUKSEK}}</td>
                <td>{{doviz.NOKDUSUK}}</td>
              </tr>
              <tr>
                <td>(RUB) Rus Rublesi</td>
                <td>{{doviz.RUBALIS}}</td>
                <td>{{doviz.RUBSATIS}}</td>
                <td>{{doviz.RUBYUKSEK}}</td>
                <td>{{doviz.RUBDUSUK}}</td>
              </tr>
            </table><br>
            <button class="w3-button w3-dark-grey" style="margin-bottom: 20px;">Diğer Kurlar  <i class="fa fa-arrow-right"></i></button>
          </div>
          <div class="w3-half w3-container">

            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
              <tr>
                <td>(USD) Amerikan Doları </td>
                <td>{{doviz.USDALIS}}</td>
                <td>{{doviz.USDSATIS}}</td>
                <td>{{doviz.USDYUKSEK}}</td>
                <td>{{doviz.USDDUSUK}}</td>
              </tr>
              <tr>
                <td>(EUR) EURO </td>
                <td>{{doviz.EURALIS}}</td>
                <td>{{doviz.EURSATIS}}</td>
                <td>{{doviz.EURYUKSEK}}</td>
                <td>{{doviz.EURDUSUK}}</td>
              </tr>
              <tr>
                <td>(GBP) Britanya Poundu</td>
                <td>{{doviz.GBPALIS}}</td>
                <td>{{doviz.GBPSATIS}}</td>
                <td>{{doviz.GBPYUKSEK}}</td>
                <td>{{doviz.GBPDUSUK}}</td>
              </tr>
              <tr>
                <td>(SEK) Isveç Kronu</td>
                <td>{{doviz.SEKALIS}}</td>
                <td>{{doviz.SEKSATIS}}</td>
                <td>{{doviz.SEKYUKSEK}}</td>
                <td>{{doviz.SEKDUSUK}}</td>
              </tr>
              <tr>
                <td>(NOK) Norveç Kronu</td>
                <td>{{doviz.NOKALIS}}</td>
                <td>{{doviz.NOKSATIS}}</td>
                <td>{{doviz.NOKYUKSEK}}</td>
                <td>{{doviz.NOKDUSUK}}</td>
              </tr>
              <tr>
                <td>(RUB) Rus Rublesi</td>
                <td>{{doviz.RUBALIS}}</td>
                <td>{{doviz.RUBSATIS}}</td>
                <td>{{doviz.RUBYUKSEK}}</td>
                <td>{{doviz.RUBDUSUK}}</td>
              </tr>
            </table><br>
            <button class="w3-button w3-dark-grey" style="margin-bottom: 20px;">Diğer Kurlar  <i class="fa fa-arrow-right"></i></button>
          </div>
        </div>
      </div>



      <hr>
      <div class="w3-panel">
        <div class="w3-row-padding shadow" style="margin:0 -16px">
          <div class="w3-half w3-container">

            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
              <tr>
                <td>(USD) Amerikan Doları </td>
                <td>{{doviz.USDALIS}}</td>
                <td>{{doviz.USDSATIS}}</td>
                <td>{{doviz.USDYUKSEK}}</td>
                <td>{{doviz.USDDUSUK}}</td>
              </tr>
              <tr>
                <td>(EUR) EURO </td>
                <td>{{doviz.EURALIS}}</td>
                <td>{{doviz.EURSATIS}}</td>
                <td>{{doviz.EURYUKSEK}}</td>
                <td>{{doviz.EURDUSUK}}</td>
              </tr>
              <tr>
                <td>(GBP) Britanya Poundu</td>
                <td>{{doviz.GBPALIS}}</td>
                <td>{{doviz.GBPSATIS}}</td>
                <td>{{doviz.GBPYUKSEK}}</td>
                <td>{{doviz.GBPDUSUK}}</td>
              </tr>
              <tr>
                <td>(SEK) Isveç Kronu</td>
                <td>{{doviz.SEKALIS}}</td>
                <td>{{doviz.SEKSATIS}}</td>
                <td>{{doviz.SEKYUKSEK}}</td>
                <td>{{doviz.SEKDUSUK}}</td>
              </tr>
              <tr>
                <td>(NOK) Norveç Kronu</td>
                <td>{{doviz.NOKALIS}}</td>
                <td>{{doviz.NOKSATIS}}</td>
                <td>{{doviz.NOKYUKSEK}}</td>
                <td>{{doviz.NOKDUSUK}}</td>
              </tr>
              <tr>
                <td>(RUB) Rus Rublesi</td>
                <td>{{doviz.RUBALIS}}</td>
                <td>{{doviz.RUBSATIS}}</td>
                <td>{{doviz.RUBYUKSEK}}</td>
                <td>{{doviz.RUBDUSUK}}</td>
              </tr>
            </table><br>
            <button class="w3-button w3-dark-grey" style="margin-bottom: 20px;">Diğer Kurlar  <i class="fa fa-arrow-right"></i></button>
          </div>
          <div class="w3-half w3-container">

            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
              <tr>
                <td>(USD) Amerikan Doları </td>
                <td>{{doviz.USDALIS}}</td>
                <td>{{doviz.USDSATIS}}</td>
                <td>{{doviz.USDYUKSEK}}</td>
                <td>{{doviz.USDDUSUK}}</td>
              </tr>
              <tr>
                <td>(EUR) EURO </td>
                <td>{{doviz.EURALIS}}</td>
                <td>{{doviz.EURSATIS}}</td>
                <td>{{doviz.EURYUKSEK}}</td>
                <td>{{doviz.EURDUSUK}}</td>
              </tr>
              <tr>
                <td>(GBP) Britanya Poundu</td>
                <td>{{doviz.GBPALIS}}</td>
                <td>{{doviz.GBPSATIS}}</td>
                <td>{{doviz.GBPYUKSEK}}</td>
                <td>{{doviz.GBPDUSUK}}</td>
              </tr>
              <tr>
                <td>(SEK) Isveç Kronu</td>
                <td>{{doviz.SEKALIS}}</td>
                <td>{{doviz.SEKSATIS}}</td>
                <td>{{doviz.SEKYUKSEK}}</td>
                <td>{{doviz.SEKDUSUK}}</td>
              </tr>
              <tr>
                <td>(NOK) Norveç Kronu</td>
                <td>{{doviz.NOKALIS}}</td>
                <td>{{doviz.NOKSATIS}}</td>
                <td>{{doviz.NOKYUKSEK}}</td>
                <td>{{doviz.NOKDUSUK}}</td>
              </tr>
              <tr>
                <td>(RUB) Rus Rublesi</td>
                <td>{{doviz.RUBALIS}}</td>
                <td>{{doviz.RUBSATIS}}</td>
                <td>{{doviz.RUBYUKSEK}}</td>
                <td>{{doviz.RUBDUSUK}}</td>
              </tr>
            </table><br>
            <button class="w3-button w3-dark-grey" style="margin-bottom: 20px;">Diğer Kurlar  <i class="fa fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
      <hr>

      <h5>Güncel Haberler</h5>
      <div class="w3-row">
        <div class="w3-col m2 text-center">
          <img class="w3-circle" src="#" style="width:96px;height:96px">
        </div>
        <div class="w3-col m10 w3-container">
          <h4>John <span class="w3-opacity w3-medium">Sep 29, 2014, 9:12 PM</span></h4>
          <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
        </div>
      </div>

      <div class="w3-row">
        <div class="w3-col m2 text-center">
          <img class="w3-circle" src="#" style="width:96px;height:96px">
        </div>
        <div class="w3-col m10 w3-container">
        <h4>Bo <span class="w3-opacity w3-medium">Sep 28, 2014, 10:15 PM</span></h4>
        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
      </div>   
      <br>
      <div class="w3-container w3-dark-grey w3-padding-32">
        <div class="w3-row">
          <div class="w3-container w3-third">
            <h5 class="w3-bottombar w3-border-green">Demographic</h5>
            <p>Language</p>
            <p>Country</p>
            <p>City</p>
          </div>
          <div class="w3-container w3-third">
            <h5 class="w3-bottombar w3-border-red">System</h5>
            <p>Browser</p>
            <p>OS</p>
            <p>More</p>
          </div>
          <div class="w3-container w3-third">
            <h5 class="w3-bottombar w3-border-orange">Target</h5>
            <p>Users</p>
            <p>Active</p>
            <p>Geo</p>
            <p>Interests</p>
          </div>
        </div>
      </div>
    </div>
    <%- include ('../partials/footer.ejs') %>